*{
    box-sizing: border-box;
}
/* ---------------container------------------------- */
.container{
    max-width: 1080px;
    margin: 10px auto;
    padding: 20px 40px;
    border: 2px solid #d4d4d5;
    border-radius: 5px;
}

@media screen and (max-width:1120px) {
    .container{
        margin-left: 10px ;
        margin-right:10px ;
    }
}
@media screen and (max-width:500px) {
    .container{
        padding: 20px 10px;
    }
}


.questionHeader{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    .questionHeader{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .questionNo{
        margin:0 auto 0 0;
        font-size: 25px;
    }
    .timer{
        margin: 0 0 15px auto;
    }
}

.questionNo{
    display: inline;
    padding: 8px 11px;;
    background-color: #f3f4f5;
    border: 2px solid #d4d4d5;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
}

.timer{
    display: inline;
    padding: 10px 7px;
    background-color: #f3f4f5;
    border: 2px solid #d4d4d5;
    border-radius: 5px;
}

.timer .hour, .minutes, .seconds{
    display: inline;
    width: 50px;
    height: 50px;
    /* border: 2px solid gray; */
    font-size: 27px;
    font-weight: 400;
    padding: 9px;
}

.timer .minutes{
    border: 2px solid #d4d4d5;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* -----------------question----------------------- */
.question{
    background-color: #f8f8f9;
    border: 1px solid #d4d4d5;
    border-radius: 5px;

    margin: 32px 0;
    padding: 15px 25px;

    font-size: 22px;
    font-weight: 500;

    box-shadow: 0 0 0 1px rgba(34,36,38,.22) , 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15)
}

/* -----------------options----------------------- */
.options{
    background-color: #f8f8f9;
    border: 1px solid #d4d4d5;
    border-radius: 5px; 

    font-size: 20px;
}

.option-1 ,.option-2 ,.option-3, .option-4, .option{
    padding: 20px 20px;
    border: 1px solid #d4d4d5;

    font-weight: 400;
}

.options span:first-child{
    font-weight: 600;
}

.option:hover{
    background-color: #d7d7d7;
}

/* --------------button-------------------- */
.btn-container{
    height: 50px;
    border-top: 1px solid #d4d4d5;
    margin-top: 12px;
}

.btn{
    margin: 10px auto;
    padding: 10px 24px;
    
    width: 150px;
    border: none;
    color: white;
    background-color: #2185d0;
    border-radius:5px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;

    position: relative;
    float: right;
}

.btn:hover{
    cursor: pointer;
    background-color: #0879d0;
}

/* ------------loading animation------------------- */
.loading{
    width: 80px;
    height: 80px;

    position: absolute;
    top: 50%;
    left: 45%;

    border-width: 5px;
    border-style: solid;
    border-color: black black black white;
    border-radius: 50%;

    animation: load 1s linear  infinite;
}

@keyframes load {
    100%{
        transform: rotate(360deg);
    }
}

/* ---------------------------------------- */

/* ---------------------------------------- */